.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.loaded .node,
.Treant.loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 3px; height: 3px; display: block; border: 1px solid black; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {   border: none; float: left; }

form,fieldset,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 1200px; margin: 5px; width: 4000px; overflow-y:scroll; overflow-x:scroll; }
.chart { margin: 5px; overflow-y:scroll; overflow-x:scroll; }
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                           Helvetica, Arial, "Lucida Grande",
            sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}


.nodeExample1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 200px;
    font-family: Tahoma;
    font-size: 12px;
}

.gray {
    background-color: #909090;
}

.light-gray {
    background-color: #D3D3C7;
}

.MergeSortJoin {
    background-color: #A2BDFD;
}

.BroadcastJoin {
    background-color: #A2DDFD;
}

.Union {
    background-color: #FF7F50;
}

.ProjectRestrict {
 background-color: cornsilk;
}

.Cursor {
 background-color: yellow;
}

.GroupBy {
 background-color: coral;
}

.Limit {
 background-color: lightcyan;
}